---
import ProductCard from "@/components/features/products/FancyCard.astro";

import { getCollection } from "astro:content";

const products = await getCollection("products");

const powerModules = products
  .filter((p) => p.data.docsReady)
  .filter((p) => p.data.codename.slice(3, 6).includes("PC"));
import Layout from "@/layouts/layout.astro";
---

<Layout title="ADVANTICS - Home">
  <section
    class="xl:9xl:grid-cols-3 9xl:max-w-9xl mx-auto mt-10 grid max-w-fit gap-x-22 gap-y-4 xl:grid-cols-2"
  >
    {
      powerModules
        .toSorted(
          (
            { data: { sortNumber: snA = -1 } },
            { data: { sortNumber: snB = -1 } },
          ) => {
            return snA - snB;
          },
        )
        .map((product) => {
          return (
            <li>
              <ProductCard {product} />
            </li>
          );
        })
    }
  </section>
</Layout>
